body{
    width: 90vw;
    height: 90vh;
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    display: table;
    vertical-align: top;
}

.slide_container{
  position: relative;
  padding: 10px 10px;
  height: 100%;
}

.slick-slider{
  height: 100%;
}

.slide_master{
  background: green;
  height: 900px;
  width: 1600px;
  display: inline-block;  
}

.slide_master_wrapper{
  display: flex;
  justify-content: center;
}